
<%= form_with model: @dream, url: dream_path, class: 'dream-edit-page', local: true do |f| %>


<div class="dreams">
  <div class="dreams-main">
    <p class="point-message">
      ★Point！金額と期限を決めることでより達成に近づきます！
    </p>
    <table class="dream-table">
      <thead class="dream_content">
        <tr class="dream__contents">
          <th class="dream-item">あなたの夢は？</th>
          <th class="item">金額は？</th>
          <th class="item">期限は？</th>
          <th class="memo-item">メモ</th>
        </tr>
      </thead>
      <tbody class="dream-tbody">
        <tr class="dream-text">
          <td><%= f.text_area :dream_list, class:"dream-input-default" %></td>
          <td><%= f.text_area :cost, class:"dream-input-default" %></td>
          <td><%= f.text_area :due, class:"dream-input-default" %></td>
          <td><%= f.text_area :memo, class:"dream-input-default" %></td>
        </tr>
      </tbody>
    </table>
    <div class="save-btn">
    <%= f.submit "保存する" ,class:"storage-btn" %>
    <%= link_to 'もどる', root_path, class:"back-btn" %>
  </div>
  </div>
</div>
<% end %>


