<% if user_signed_in? %>
  <%# ログインしている場合 %>
  <div class="main">
    <div class="main-space">
      <div class="main-btn">
        <div class="count">
          <table>
            <thead>
              <tr class="dream__contents">
                <th class="dream_count">叶えたゆめ</th>
                <th class="dream_count">ゆめの合計数</th>
              </tr>
            </thead>
            <tbody>
              <tr><td><%= @achieve_count %></td>
              <td><%= @dreams_count %>/100</td></tr>
            </tbody>
          </table>
        </div>
        <div class="btn-list">
          <%= link_to "ゆめの追加" , new_dream_path, class: "new-btn" %>
        </div>
      </div>

      <%# ----夢リスト---- %>
      <div class="dream-list">
        <div class="dream-list-main">
          <table class="dream-table">
            <thead class="dream_content">
              <tr class="dream__contents">
                <th class="item-no"></th>
                <th class="item-no"></th>
                <th class="item-dream">あなたのゆめ</th>
                <th class="item">金額</th>
                <th class="item">期限</th>
                <th class="item-memo">メモ</th>
              </tr>
            </thead>
            <tbody class="dream-tbody">
              <% @dreams.each do |dream| %>
                <tr class="dream-text">
                  <td><%= link_to "詳細", dream_path(dream.id), class: :edit_path_btn %></td>
                  <td>
                    <div id="like-btn<%= dream.id %>">
                      <%= render partial: "likes/like", locals: { dream: dream } %>
                    </div>
                  </td>
                  <td><%= dream.dream_list %></td>
                  <td><%= dream.cost %></td>
                  <td><%= dream.due %></td>
                  <td><%= dream.memo %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
      
    <%# ---friend list---- %>
    <div class="main-light">
      <div class="user-plofile">
        <%= link_to user_path(current_user), class: "user-nickname" do %>
          <div class="avatar-position">
            <% if current_user.avatar? %>
             <img src="<%= current_user.avatar %>" width="50" height="50" class = user-icon >
            <% else %>
              <%= image_tag ("noavatar.png"), size: "50", class: "user-icon" %>
            <% end %>
            <%= current_user.nickname %>
          </div>
          <div class="profile-text">のプロフィール</div>
        <% end %>
      </div>

      <div class="user-sarch">
        <%= link_to 'friend sarch!', users_path, class: "sarch-text" %>
      </div>
      <div class="friends">
        <div class="friend-list">
          friend list
        </div>
        <div class="friend-list-main">
          <% @users.each do |user| %>
            <div>
              <%= link_to "#", class: "avatar-position" do %>
                <% if user.followed_by?(current_user) %>
                  <% if user.avatar? %>
                    <%= image_tag user.avatar.url, size: "50", class: "user-icon" %>
                  <% else %>
                    <%= image_tag ("noavatar.png"), size: "50", class: "user-icon" %>
                  <% end %>
                  <%= user.nickname %>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% else %>

  <%# ログインしていない場合 %>
  <div class="logout-main">
    <div claas="logout-main-space">
      <div claas="logout-message">
        <div class="logout-message1">
          あなたのゆめはなんですか？
        </div>
        <div class="logout-message2">
          まずは100こ創って、叶える準備をしましょう!
        </div>
        <div class="logout-message3">
          Dream Note はあなたを応援しています
        </div>
        <div class="logout-message2">
          やりたいこと、行きたい場所、食べたいもの
        </div>
        <div class="logout-message3">
          思い浮かぶゆめをどんどん書きましょう
        </div>
      </div>
    </div>
  </div>
<% end %>
