
<div class="">
<h3>friend sarch</h3>
  <% @users.each do |user| %>
    <div>
      <% if current_user != user %>
        <% if user.avatar? %>
          <%= image_tag user.avatar.url, size: "50", class: "user-icon" %>
        <% else %>
          <%= image_tag ("noavatar.png"), size: "50", class: "user-icon" %>
        <% end %>
        <%= user.nickname %>
        <% if user.followed_by?(current_user) %>
          <%=link_to "フォロー中", user_friends_path(user.id),class: "btn" , method: :delete %>
        <% else %>
          <%=link_to "フォローする", user_friends_path(user.id),class: "btn" ,method: :post %>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <h3>follower</h3>
  <% @users.each do |user| %>
    <div>
      <%= link_to "#" do %>
        <% if user.following_by?(current_user) %>
          <% if user.avatar? %>
            <%= image_tag user.avatar.url, size: "50", class: "user-icon" %>
          <% else %>
            <%= image_tag ("noavatar.png"), size: "50", class: "user-icon" %>
          <% end %>
          <%= user.nickname %>

        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

