<div class="registration-main">
  <div class='form-wrap'>
    <div class='form-header'>
      <h1 class="form-header-text">
        <%= "#{@user.nickname}さんの登録情報"%>
      </h1>
    </div>

    <div class="mypage-form-group">
      <% if @user.avatar? %>
        <%= image_tag @user.avatar.url, size: "200", class: "user-icon" %>
      <% else %>
        <%= image_tag ("noavatar.png"), size: "200", class: "user-icon" %>
      <% end %>
    </div>
    <div class="mypage-form-group">
      <div class='form-text-wrap'>
        <label class="form-text">ニックネーム</label>
      </div>
      <%= @user.nickname %>
    </div>
    <div class="mypage-form-group">
      <div class='form-text-wrap'>
        <label class="form-text">メールアドレス</label>
      </div>
      <%= @user.email %>
    </div>
    <div class="mypage-form-group">
      <div class='form-text-wrap'>
        <label class="form-text">お名前(全角)</label>
      </div>
      <div class='inputed-name-wrap'>
        <%= @user.last_name %>
        <%= @user.first_name %>
      </div>
    </div>
    <div class="mypage-form-group">
      <div class='form-text-wrap'>
        <label class="form-text">お名前ひらがな(全角)</label>
      </div>
      <div class='inputed-name-wrap'>
        <%= @user.last_name_hiragana %>
        <%= @user.first_name_hiragana %>
      </div>
    </div>
    <div class="mypage-form-group">
      <div class='form-text-wrap'>
        <label class="form-text">生年月日</label>
      </div>
      <div class='input-birth-wrap'>
        <%= @user.birthday %>
      </div>
    </div>
    <div class="btn-area">
      <%= link_to '編集', edit_user_registration_path, class:"back-btn" %>
      <%= link_to 'もどる', root_path, class:"back-btn" %>
    </div>
  </div>
</div>

