<%# CSS・・・assets/stylesheets/style.css %>
<!DOCTYPE html>
<html>
  <head>
    <title>OriginalApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header class="header">
    <div class="inner">
      <div class="nav">
        <div class="nav__left">
          <%= link_to image_tag("dreamnote-logo.png", class:"logo"), "/" %>
        </div>
        <% if user_signed_in? %>
          <div class="nav__right">
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "header-menu" %>
          </div>
        <% else %>
          <div class="nav__right">  
            <%= link_to "ログイン", new_user_session_path, class: "header-menu" %>
            <%= link_to "新規登録", new_user_registration_path, class: "header-menu" %>
        </div>
        <% end %>
      </div>
    </div>
  </header>
  <body>
    <%= yield %>
  </body>
</html>
